<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>vue app</h1>
    <div id="app" style="border: 2px solid black;">
        <div>
        <input type="text" name="goal" v-model="value">
        <br>
        <button v-on:click="setGoal()">add goal</button>
        </div>
        
        <ul>
            <li v-for="goal in goals">{{ goal }}</li>
        </ul>
    </div>
    <script src="https://unpkg.com/vue@3"></script>
    <script type="text/javascript" src="App.js"></script>
</body>
</html>